/*  your css code here. If applicable */
body{
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* container */
.container{
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    gap: 2px;
}

/* squares */
.square{
    width: 15px;
    height: 15px;
    background-color: #1d1d1d;
    transition: background-color 1s ease;
}